<h1 class="page-heading">
  {{pageTitle}}
</h1>
<h3 class="number-input">Enter SOL Day: 
  <span><input type="number"
    [(ngModel)]='solFilter'/></span>
  <span>
    <button class="btn btn-primary submit-button" (click)="getPhotosFromSol(solFilter)">
      Submit</button>
    </span>
</h3>

<h3 class="number-input">
  Get Random SOl Day: 
  <button class='btn btn-primary'
  (click)='getRandomSolDay()'>
  Random
</button>
</h3>

<h3 class="number-input">
  <button class='btn btn-primary'
          (click)='toggleImage()'>
          {{showImage ? 'Hide' : 'Show'}} Image
  </button>
</h3>

<!-- if you show the images, it will show the cards with each image -->
<div *ngIf="showImage">
  <div *ngFor='let mySol of listOfSols' class="card-container">
    <div class="card mb-3">
      <img [src]='mySol.img_src'    
          width="600px"
          height="600px"/>
      <div class="card-body">
        <h5 class="card-title">ID: <span class="span-text">{{mySol.id}}</span></h5>
        <h5 class="card-title">SOL: <span class="span-text">{{mySol.sol}}</span></h5>
        <h5 class="card-title">Camera Name: <span class="span-text">{{mySol.camera.full_name}}</span></h5>
        <h5 class="card-title">Earth Date: <span class="span-text">{{mySol.earth_date}}</span></h5>
        <h5 class="card-title">Rover Name: <span class="span-text">{{mySol.rover.name}}</span></h5>
      </div>
    </div>
  </div>
</div>

<!-- If you hide the images, it will show this table -->
<div *ngIf="!showImage" class="table-container">
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Sol</th>
        <th>Camera</th>
        <th>Earth Date</th>
        <th>Rover Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let mySol of listOfSols'>
        <td>{{mySol.id}}</td>
        <td>{{mySol.sol}}</td>
        <td>{{mySol.camera.full_name}}</td>
        <td>{{mySol.earth_date}}</td>
        <td>{{mySol.rover.name}}</td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>